[pylint]
disable=
    broad-except,
    consider-using-f-string,
    dangerous-default-value,
    invalid-name,
    line-too-long,
    missing-function-docstring,
    missing-module-docstring,
    no-member,
    redefined-builtin,
    redefined-outer-name,
    too-many-branches,
    too-many-locals,
    unspecified-encoding,
    used-before-assignment,
good-names=
    template-python
ignore=
    __init__.py,
notes=
    FIXME,
